{% set categories = content.field_event_categories| render %}
{% set speakers = content.field_event_speakers| render %}
{% set articles = content.field_related_articles| render %}
{% set image = content.field_event_image| render %}

<table>
    <tr>
      <td style="width: 50%">{{ content.body }}</td>
      <td>{{ image }}</td>
    </tr>
    <tr>
      <td width=50% valign="top" style="border: 3px solid #ccc">
        <ul style="list-style-type: none">
            <li>{{ content.field_event_capacity }}</li>
            <li>{{ speakers }}</li>
            <li>{{ categories }}</li>
        </ul>
      </td>
      <td width=50% valign="top" style="border: 3px solid #ccc">
        <ul style="list-style-type: none">
          {% if content.field_event_website| render %}
            <li>{{ content.field_event_website }}</li>
          {% endif %}
          {% if articles %}
            <li>{{ articles }}</li>
          {% endif %}
        </ul>
      </td>
    </tr>
</table>

{% if articles %}
  {% for i, value in content.field_related_articles %}
    <ul style="list-style-type: none;">
     {% if node.field_related_articles[i].entity %}
        <li>
          {{ node.field_related_articles[i].entity.title.value| t }}
          <a style="border: 1px solid #000; padding: 5px; background-color: #ccc" href="{{ path('entity.node.canonical', {'node': node.field_related_articles[i].entity.id}) }}">Explore <i  aria-hidden="true"></i></a>
        </li>
        }
     {% endif %}
   </ul>
  {% endfor %}
{% endif %}
